{% extends 'admin.html.twig' %}

{% block title %}Create Category{% endblock %}

{% block body %}
<style>
    .category-create .form {
        width: 50%;
    }
</style>

<h2 class="text-center"> Create Category</h2>
<div class="d-flex justify-content-center">
    {{ form_start(form_definition) }}
    <div class="title">
        <div> {{ form_label(form_definition.title) }}</div>
        <div> {{ form_widget(form_definition.title) }}</div>
    </div>

    <div class="description">
        <div> {{ form_label(form_definition.description) }}</div>
        <div> {{ form_widget(form_definition.description) }}</div>
    </div>
    <div class="image">
        <div> {{ form_label(form_definition.image) }}</div>
        <div> {{ form_widget(form_definition.image) }}</div>
    </div>
    {{ form_row(form_definition.submit,{attr:{class:'btn btn-danger mt-2'}}) }}
    {{ form_end(form_definition) }}
</div>
<div>
    {% if data.message is defined and data.message is not empty %}
    <p>{{data.message}}</p>
    {% endif %}
</div>
{% endblock %}