{% extends 'base.html.twig' %}

{% block title %}Gastronomie Design!{% endblock %}

{% block body %}
<style>
    .gastronomie-design .con-header {
        background-color:rgb(216, 214, 214);
    }

    .gastronomie-design .con-header h5 {
        color: #780000;
        font-family: fantasy;
    }

    .gastronomie-design .body {

        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .gastronomie-design .body .text {
        background-color: #f2f2f1;
        color: #161615;
    }
</style>

<div class="gastronomie-design mb-5">
    <div class="header">
          <img class="" style="width:100%;height:400px" src="{{ asset('/app/gastronomie-design-header.png') }}">
        <div class="con-header p-5" >
            <h5>✔ Individuell: Jedes Design wird nach Ihren Wünschen gestaltet..</h5>
            <h5>✔ Kreativ: Einzigartige und innovative Designs, die begeistern.</h5>
            <h5>✔ Professionell: Hochwertige Umsetzung mit Liebe zum Detail.</h5>
            <h5>✔ Emotional: Designs, die Geschichten erzählen und Eindruck hinterlassen.</h5>
            <h5>✔ Starkes Branding: Mehr Wiedererkennung und Markenwert.</h5>
        </div>
       
    </div>

    <div class="body p-5" style="background-image:url('{{ asset('/app/gastronomie-design-bg.png') }}')">
        <div class="pixlip row">
            <div class="img col-md-4">
                <img class="" style="width:103%" src="{{ asset('/app/gastronomie-design-pixlip1.png') }}">
            </div>
            <div class="text col-md-6">
                <p class="p-4">
                    <h1>Pixlip Pop </h1>
                    Pixlip Pop ist ein mobiles LED-Leuchtrahmensystem, das sich ideal für Messen, Events und den
                    Einzelhandel eignet.
                    <br><span class="text-danger fw-bold">Individuelle Größen & Formen:</span> Verschiedene Maße und
                    Designs für jeden Bedarf.<br>
                    <span class="text-danger fw-bold">Hochwertige Präsentation:</span> Beidseitig beleuchtete
                    Textilgrafiken für maximale Sichtbarkeit.<br>
                    <span class="text-danger fw-bold">Flexibilität & Mobilität:</span> Leicht, transportabel und modular
                    erweiterbar.<br>
                    <span class="text-danger fw-bold">Nachhaltig & langlebig:</span> Austauschbare Textildrucke und
                    energieeffiziente LEDs.<br>
                    <span class="fw-bold">Eine professionelle und praktische Lösung für wirkungsvolle
                        Werbung!</span><br>
                </p>
            </div>
        </div>
        <div class="out-image1 row mt-3">
            <div class="img col-md-4">
              <a href="/user/category/getCategory/74">  <img class="" style="width:103%" src="{{ asset('/app/gastronomie-design-outImg1.png') }}"> </a>
            </div>
            <div class="text col-md-6">
                <p class="p-4">
                    <h1>Outdoor Images </h1>
                    Pixlip Pop ist ein mobiles LED-Leuchtrahmensystem, das sich ideal für Messen, Events und den
                    Einzelhandel eignet.
                    <br><span class="text-danger fw-bold">Individuelle Größen & Formen:</span> Verschiedene Maße und
                    Designs für jeden Bedarf.<br>
                    <span class="text-danger fw-bold">Hochwertige Präsentation:</span> Beidseitig beleuchtete
                    Textilgrafiken für maximale Sichtbarkeit.<br>
                    <span class="text-danger fw-bold">Flexibilität & Mobilität:</span> Leicht, transportabel und modular
                    erweiterbar.<br>
                    <span class="text-danger fw-bold">Nachhaltig & langlebig:</span> Austauschbare Textildrucke und
                    energieeffiziente LEDs.<br>
                    <span class="fw-bold">Eine professionelle und praktische Lösung für wirkungsvolle
                        Werbung!</span><br>
                </p>
            </div>
        </div>
        <div class="in-image1 row mt-3">
            <div class="img col-md-4">
               <a href="/user/category/getCategory/74">  <img class="" style="width:103%" src="{{ asset('/app/gastronomie-design-inImg1.png') }}"></a>
            </div>
            <div class="text col-md-6">
                <p class="p-4">
                    <h1>Indoor Images </h1>
                    Pixlip Pop ist ein mobiles LED-Leuchtrahmensystem, das sich ideal für Messen, Events und den
                    Einzelhandel eignet.
                    <br><span class="text-danger fw-bold">Individuelle Größen & Formen:</span> Verschiedene Maße und
                    Designs für jeden Bedarf.<br>
                    <span class="text-danger fw-bold">Hochwertige Präsentation:</span> Beidseitig beleuchtete
                    Textilgrafiken für maximale Sichtbarkeit.<br>
                    <span class="text-danger fw-bold">Flexibilität & Mobilität:</span> Leicht, transportabel und modular
                    erweiterbar.<br>
                    <span class="text-danger fw-bold">Nachhaltig & langlebig:</span> Austauschbare Textildrucke und
                    energieeffiziente LEDs.<br>
                    <span class="fw-bold">Eine professionelle und praktische Lösung für wirkungsvolle
                        Werbung!</span><br>
                </p>
            </div>
        </div>
        <div class="werbschilder row mt-3">
            <div class="img col-md-4">
                <a href="/user/category/getCategory/74"><img class="" style="width:103%" src="{{ asset('/app/gastronomie-design-werbschild1.png') }}"></a>
            </div>
            <div class="text col-md-6">
                <p class="p-4">
                    <h1>Werbschilder</h1>
                    Pixlip Pop ist ein mobiles LED-Leuchtrahmensystem, das sich ideal für Messen, Events und den
                    Einzelhandel eignet.
                    <br><span class="text-danger fw-bold">Individuelle Größen & Formen:</span> Verschiedene Maße und
                    Designs für jeden Bedarf.<br>
                    <span class="text-danger fw-bold">Hochwertige Präsentation:</span> Beidseitig beleuchtete
                    Textilgrafiken für maximale Sichtbarkeit.<br>
                    <span class="text-danger fw-bold">Flexibilität & Mobilität:</span> Leicht, transportabel und modular
                    erweiterbar.<br>
                    <span class="text-danger fw-bold">Nachhaltig & langlebig:</span> Austauschbare Textildrucke und
                    energieeffiziente LEDs.<br>
                    <span class="fw-bold">Eine professionelle und praktische Lösung für wirkungsvolle
                        Werbung!</span><br>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}